<div class="contact-us-form">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-md-12">
          <h6 class="text-center">
            {{ element.elements.get_a }}
          </h6>
          <h2 class="text-center">
            {{ element.elements.free_quote }}
          </h2>
          <div class="row">
            <div class="col-md-4 name">
              {{ element.elements.name }}
            </div>
            <div class="col-md-4 email">
              {{ element.elements.email }}
            </div>
            <div class="col-md-4 subject">
              {{ element.elements.subject }}
            </div>
            <div class="col-md-12 massage">
              {{ element.elements.message }}
            </div>
            <div class="btn send-now-button">
              {{ element.elements.actions }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
