<div class="currency-calculator-form">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-10">
              <h6>
                {{ element.elements.bitcoin }}
              </h6>
              <h2>
                {{ element.elements.currency_calculator }}
              </h2>
              {{ element.elements.processed_text }}
              <div class="calculator-form-block">
                <div class="form-input-field">
                  {{ element.elements.enter_amount }}
                  {{ element.elements.bitcoin_btc_ }}
                  {{ element.elements.enter_amount_1 }}
                  {{ element.elements.country_currency }}
                </div>
              </div>
              <div class="buy-now-button">
                {{ element.elements.actions }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
